div {
  color: white;
}

.odd {
  background-color: blue;
}
.even {
  background-color: green;
}

.p1,
.p2,
.p9,
.p10 {
  width: 250px;
  height: 500px;
  background-color: brown;
}

#flipbook {
  width: 400px;
  height: 400px;
  margin: 10% 20%;
}
/* タブについて*/
.tabs .left {
  -webkit-writing-mode: vertical-lr; /*縦書き 参考 https://qiita.com/RinoTsuka/items/3e3eaaba8cddb6ff08e9 */
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  display: block;
  z-index: 10000; /* 一番上に表示されるように（いらないかも？)*/
  position: relative;
  left: -40px;
  text-orientation: upright;
  width: 30px;
  text-align: left;
}

.tabs .right {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  /* display: inline-block; */
  z-index: 100000;
  position: relative;
  right: -40px;
  width: 30px;
  float: right;
  text-orientation: upright;
}

.tabs a {
  text-decoration: none;
  color: #333;
  margin: 5px;
  border: 1px solid;
  background-color: #98fb98;
  display: inline-block;
  padding: 5px;
}

/* 角丸にする*/
.tabs .left a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabs .right a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tabs a:hover {
  /* マウスオーバー時透明度を0.8にしポインターカーソルにする*/
  cursor: pointer;
  opacity: 0.8;
}
